node_modules/
packages/hardhat/artifacts/
packages/hardhat/cache/
packages/hardhat/deployments/
packages/hardhat/node_modules/
packages/react-app/node_modules/
packages/react-app/src/contracts/
packages/subgraph/node_modules/
packages/subgraph/config/
